<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

In [2]:
# Exercise 2 - Create a markdown cell with the title of the notebook

# Data Science and Ecosystem

In [3]:
# Exercise 3 - Create a markdown cell for an introduction. (1 pt)

## Introduction
This is the introduction section of my report

In [5]:
# Exercise 4 - Create a markdown cell to list data science languages. (3 pts)

While impossible to list all, most relevant would be the following
- Python
- R
- SQL
- Julia
- Ruby
- Scala
- Javascript
- Java
- Matlab

among others

In [6]:
# Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)

Commonly used libraries for Python include
- Numpy
- Pandas
- Matplotlib
- Keras
- sciPy
- SciKit

Commonly used libraries for R include
- ggplot
- caret
- dyplr
- tidyr

In [7]:
# Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)

| Data Science Tools|
| ------------- |
| Apache Spark      |
| Hadoop    |
| Jupyter Notebook & Jupiter Lab|

In [8]:
# Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)

These are a few examples of basic arithmetic

1 + 1 = 2

2 * 2 = 4

In [ ]:
# Exercise 8 - Create a code cell to multiply and add numbers. (2 pts)

In [14]:
print(1+1)
print(2*2)

2
4

In [15]:
# Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)

In [19]:
# Set minutes
minutes = 120
hours = minutes / 60
print(hours)

2.0

In [23]:
# Exercise 10 -Insert a markdown cell to list Objectives. (3 pts)

## **Objective list**
- Objective #1 - TBD
- Objective #2 - TBD
- Objective #3 - TBD

In [22]:
# Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name. (2 pts)

## Author
*Francisco*

https://github.com/frmachadoecosta/IBMCoursera.course